<h1>Edit My Account</h1>
 
<% form_for @user do |f| %>
	<div class="span-6 append-16">
		<%= f.error_messages %>
		<%= render :partial => "form", :object => f %>
		<%= f.submit "Update" %>
	</div>
<% end %>
 
<br /><%= link_to "My Profile", user_path %>