		</div>
		<div id="footer" class="footer prepend-top">
			<span class="small">Copyright &copy; 2010, <a href="http://www.nachtschicht-gbr.de" alt="nachtschicht GbR">nachtschicht GbR</a></span>
		</div>
	</body>
</html>